*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}
body{
    background-color: #CCCCCC;
}
/* NAVBAR */
.nav_home{
    height: 60px;
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.amazon_logo{
    width: 114px;
    height: 40px;
    padding: 1px 8px 0px 6px;
}
.amazon_logo1:hover{
    border: 0.5px solid white ;
}
.nav_tex{
    display: flex;
}
.nav_tex:hover{
    border: 1px solid white ;
}
.location_nav{
    color: white;
    display: flex;
    align-items: flex-end;
}
.location_text1{
    color: #CCCCCC;
    font-size: 12px;
    width: 56px;
    height: 14px;
    margin: 0px;
}
.location_text2{
    color: #FFFFFF;
    font-size: 14px;
    width: 56px;
    height: 16px;
    font-weight: bold;
    margin: 0px;
}
.input_section{
    display: flex;
}
.nav_all{
    width: 51.5px;
    height: 40px;
    background-color: #E6E6E6;
    color: #0f1111;
    font-size: 14px;
    padding:  10px 0px 0px 5px;
    margin: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius:2px ;
    border: none;
}
.input_section:hover{
    border: 2px solid #d69444;
}
.input_search{
    width: 580px;
    height: 40px;
    background-color: white;
    padding: 7px 10px 0px;
    color: #0f1111;
    border: none;
}
.search_logo{
    width: 45px;
    height: 40px;
    background-color: #d69444;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
}
.nation_div{
    display: flex;
    gap: 2px;
    justify-content: flex-end;
}
.nation_div:hover{
    border: 1px solid white;
}
.search_icon{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-size: 25px;
}
.flag{
    margin-left: 5px;
}
.flag_text{
    color: white;
}
.dropdown{
    color: white;
}
.nav_text2:hover{ 
    border: 1px solid white;
}
.nav_text2{
    width: 115px;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px;
}
.hello_text{
    padding: 0px;
    font-size: 12px;
    color: white ;
    margin: 0px;
}
.Acount_Text{
    font-size:14px;
    color: white;
    margin: 0px;
}
.return_div:hover{
    border: 1px solid white;
}
.return_text{
    font-size: 12px;
    color: white ;
    margin: 0px;
}
.order_text{
    font-size:14px;
    color: white;
    margin: 0px;
}
.shopping_div:hover{
    border: 1px solid white;
}
.shopping_div{
    display: flex;
}
.shop_icon{
    font-size: 20px;
    color: white;
    margin: 0px;
}
.shop_text{
    font-size:14px;
    color: white;
    margin: 0px;
}
@media (max-width:750px) {
 .nav_home{
    width: 100%;
    height: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.amazon_logo{
    width: 80px;
    height:  25px;
    padding: 1px 8px 0px 6px;
}
.amazon_logo1:hover{
    border: 0.5px solid white ;
}
.nav_tex{
    display: flex;
}
.nav_tex:hover{
    border: 1px solid white ;
}
.location_nav{
    color: white;
    display: flex;
    align-items: flex-end;
}
.location_text1{
    color: #CCCCCC;
    font-size: 12px;
    width: 56px;
    height: 14px;
}
.location_text2{
    color: #FFFFFF;
    font-size: 14px;
    width: 56px;
    height: 16px;
    font-weight: bold;
}
.input_section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.nav_all{
    width: 51.5px;
    height: 40px;
    background-color: #E6E6E6;
    color: #0f1111;
    font-size: 14px;
    padding:  10px 0px 0px 5px;
    margin: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius:2px ;
    border: none;
}
.input_section:hover{
    border: 2px solid #d69444;
}
.input_search{
    width: 280px;
    height: 40px;
    background-color: white;
    padding: 7px 10px 0px;
    color: #0f1111;
    border: none;
}
.search_logo{
    width: 45px;
    height: 40px;
    background-color: #d69444;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
}
.nation_div{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: flex-end;
}
.nation_div:hover{
    border: 1px solid white;
}
.search_icon{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    font-size: 25px;
}
.flag{
    margin-left: 5px;
}
.flag_text{
    color: white;
}
.dropdown{
    color: white;
}
.nav_text2:hover{ 
    border: 1px solid white;
}
.nav_text2{
    width: 115px;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px;
}
.hello_text{
    padding: 0px;
    font-size: 12px;
    color: white ;
}
.Acount_Text{
    font-size:14px;
    color: white;
}
.return_div:hover{
    border: 1px solid white;
}
.return_text{
    font-size: 12px;
    color: white ;
}
.order_text{
    font-size:14px;
    color: white;
}
.shopping_div:hover{
    border: 1px solid white;
}
.shopping_div{
    display: flex;
}
.shop_icon{
    font-size: 20px;
    color: white;
}
.shop_text{
    font-size:14px;
    color: white;
}
}
/* navbar 2 */
.nav_ul{
    height: 60px;
    color: #FFFFFF;
    display: flex ;
    list-style: none;
    gap: 15px;
    padding-left: 11px;
    background-color: #232F3E;
    align-items: center;
    margin: 0xp;
}
.nav_li{
    padding: 8px 5px;
    margin:5px 0px 6px ;
}
.nav_li:hover{
    border: 1px solid #FFFFFF;
    padding: 8px 5px;
    margin:5px 0px 6px ;
}
@media (max-width:768px) {
    .nav_ul{
    height: 102px;
    color: #FFFFFF;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    gap: 12px;
    padding-left: 11px;
    background-color: #232F3E;
    align-items: center;
    margin: 0px;
}
}
.carousel-caption{
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bolder;
}
/* hero_section */
.hero_card{
    width: 350px;
    height: 450px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}
#carouselExampleCaptions{
    position: relative;
}
/* card section */
.card_section{
    position: absolute;
    top: 620px;
    left: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.card_section2{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    position: absolute;
    top: 1100px;
    left: 40px;
}
.hero_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card_h2{
    font-size: 21px;
    font-weight: 600;
}
.clothes_div{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.card_text{
    font-size: 12px;
}
.a_text{
    font-size: 13px;
    text-decoration: none;
}
@media (max-width:768px) {
.hero_card{
    max-width: 100%;
    height: 470px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;;
}
.clothes_div{
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.card_h2{
    width: 100%;
    font-size: 21px;
    font-weight: 600;
}
.a_text{
    width: 100%;
    font-size: 13px;
    text-decoration: none;
}
.card_section{
    max-width: 89%;
    position: absolute;
    top: 620px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}
.card_section2{
    max-width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    position: absolute;
    top: 2570px;
    left: 10px;
}
}
/* slider card */
.container{
    margin-top: 750px;
    max-width: 100%;
    width: 95%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.slider_wrapper{
    position: relative;
}
.slider_wrapper .slider_button{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: white;
    background-color: #000000;
    border: none;
    outline: none;
    font-size: 2.2rem;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
.slider_wrapper .slider_button#prev_slide{
    left: 0px;
}
.slider_wrapper .slider_button#next_slide{
    right: 0px;
}
.slider_wrapper .slider_button:hover{
    background-color: #CCCCCC;
}
.slider_wrapper .image_list{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    overflow-x: auto;
    margin-bottom: 30px;
}
.slider_wrapper .image_list .image_item{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.container2{
    margin-top: 50px;
    max-width: 100%;
    width: 85%;
    margin: auto;
    margin-top: 50px;
    
}
.div_container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.container_text{
    font-size: 21px;
    font-weight: 500;
}
.span_text{
    color: #216281;
    font-size: 14px;
    text-decoration: none;
}
.span_text:hover{
    color: #216281;
    font-size: 14px;
    text-decoration: underline;
}
.container3{
    margin-top: 650px;
    max-width: 100%;
    margin-left: 120px;
    margin-right: 120px;
    padding: 0px;
}
@media (max-width:768px) {
    .container{
    margin-top: 3260px;
    max-width: 100%;
    width: 95%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
}
/* card section3 */
.card_section3{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    position: absolute;
    top: 2250px;
    left: 40px;
}
@media (max-width:768px) {
    .card_section3{
    max-width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    position: absolute;
    top: 5050px;
    left: 10px;
}
}
@media (max-width:768px) {
    .container3{
    margin-top: 1850px;
    max-width: 100%;
    width: 95%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
}
/* card_section4 */
.card_section4{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    position: absolute;
    top: 3450px;
    left: 40px;
}
@media (max-width:768px) {
    .card_section4{
    max-width: 89%;
    position: absolute;
    top: 7450px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}
}
.container4{
    margin-top: 650px;
    max-width: 100%;
    margin-left: 120px;
    margin-right: 120px;
    padding: 0px;
}
@media (max-width:768px) {
    .container4{
    margin-top: 2000px;
    max-width: 100%;
    width: 95%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
}
.card_section5{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    position: absolute;
    top: 4600px;
    left: 40px;
}
@media (max-width:768px) {
    .card_section5{
    max-width: 89%;
    position: absolute;
    top: 10010px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}
}
.container5{
    margin-top: 500px;
    max-width: 100%;
    margin-left: 120px;
    margin-right: 120px;
    padding: 0px;
}
@media (max-width:768px) {
    .container5{
    margin-top: 2000px;
    max-width: 90%;
    width: 95%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
}
